<% 
    let creationDate = new Date(flock.createdAt)
%> 
<section id="flockContainer" class="container d-flex justify-content-center">
    <div class="row">
        <section id="flockInfo">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h1 class="card-title fs-5">
                                <img class="profileImg shadow border-2 rounded-circle me-4" src="<%= flock.imageUrl %>" alt="flock photo for <%= flock.name %>  " />
                                <%= flock.name %>
                            </h1>
                            <h3 class="card-subtitle mb-2 fs-6 text-muted">Established On: <%= creationDate.toDateString() %> </h3>
                        </div> 
                    </div>
                </div>
                <div class="card-body text-center">
                    <% if (flock.description) { %>
                        <p class="card-text">
                            <%= flock.description %>
                        </p>
                    <% } %> 
                    <p class="text-center"><%= flock.members.length %> Members</p>
                </div>
            </div>
        </section>
        <%- include('../partials/userNav') %>
        <%- include('../partials/postBox') %>
    </div>
</section>
<% if (currentUser) { %>
    <%- include('../partials/modals/flock') %>
    <% if (isMember) { %>
        <%- include('../partials/modals/post') %>
    <% } %>
<% } %>
<script src="/js/flock.js" defer type="text/javascript"></script>