<% 
    let creationDate = new Date(flock.createdAt)
%> 
<section id="flockContainer" class="container d-flex justify-content-center">
    <div class="row">
        <section id="flockInfo">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h1 class="card-title fs-5">
                                <img class="flockImg shadow border-2 rounded-circle me-4" width="100" height="100" src="<%= flock.imageUrl %>" alt="flock photo for <%= flock.name %>" />
                                <%= flock.name %>
                            </h1>
                            <h3 class="card-subtitle mb-2 fs-6 text-muted">Established On: <%= creationDate.toDateString() %> </h3>
                        </div> 
                    </div>
                </div>
                <div class="card-body text-center">
                    <% if (flock.description) { %>
                        <p class="card-text">
                            <%= flock.description %>
                        </p>
                    <% } %> 
                    <p class="text-center"><%= flock.members.length %> Members</p>
                    <% if (role === "admin" || role === "owner") { %>
                        <button class="btn btn-outline-dark m-2" data-bs-toggle="modal" data-bs-target="#editFlockModal">Edit Flock</button>
                     
                    <% } %>
                    <% if (role === "owner") { %>
                        <button class="btn btn-outline-dark m-2" data-bs-toggle="modal" data-bs-target="#deleteFlockModal">Delete Flock</button>
                    <% } %>
                    <% if (isMember) { %>
                        <form action="/flocks/<%= flock.name %>/m/<%= currentUser.id %>/?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-outline-dark m-2" value="Leave Flock"/>
                        </form>
                    <% } else if (currentUser) { %>
                        <form action="/flocks/<%= flock.name %>/m/<%= currentUser.id %>" method="POST">
                            <input type="submit" class="btn btn-outline-dark m-2" value="Join Flock"/>
                        </form>
                    <% } %>
                    <div class="btn-group d-flex justify-content-between" id="myTab" role="tablist" aria-label="Button group for post">
                        <button class="collapse-option btn btn-outline-dark" id="members-collapse" data-bs-toggle="collapse" data-bs-target="#members" type="button" aria-controls="members" aria-selected="false">
                            <i class="fas fa-user-friends"></i><span class="ms-1">Members</span>
                        </button>
                    </div>
                    <div class="collapse multi-collapse" id="members">
                        <div class="card card-body">
                            <ul class="list-group list-group-flush text-start">
                                <% flock.members.forEach((member) => { %>
                                    <li class="list-group-item d-flex justify-content-between">
                                        <a href="/users/<%= member.userName %>"><%= member.userName %></a>
                                        <% if (member.role === 'admin') { %>
                                            <span>admin</span>
                                        <% } else if (member.role === 'owner') { %>
                                            <span>Owner</span>
                                        <% } %>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../partials/userNav') %>
        <%- include('../partials/postBox') %>
    </div>
</section>
<% if (currentUser) { %> 
    <%- include('../partials/modals/flock') %>
    <% if (isMember) { %>
        <%- include('../partials/modals/post') %>
    <% } %>
    <% if (role === "admin" || role === "owner") { %>
        <%- include('../partials/modals/editFlock') %>
    <% } %>
    <% if (role === "owner") { %>
        <%- include('../partials/modals/deleteFlock') %>
    <% } %>
<% } %>
<script src="/js/flock.js" defer type="text/javascript"></script>