<section id="profileContainer" class="container d-flex justify-content-center">
    <div class="row">
        <section id="userInfo">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h1 class="card-title fs-5">
                                <img class="profileImg shadow border-2 rounded-circle me-4" src="<%= imageUrl %>" alt="Profile photo for " />
                                <%= userName %>
                            </h1>
                            <% let creationDate = new Date(createdAt)%> 
                            <h3 class="card-subtitle mb-2 fs-6 text-muted">Member Since: <%= creationDate.toDateString() %> </h3>
                        </div> 
                    </div>
                </div>
                <div class="card-body text-center">
                    <% if (bio) { %>
                        <p class="card-text">
                            <%= bio %>
                        </p>
                    <% } else if (currentUser && currentUser.id === id) { %>
                        <button class="btn btn-outline-dark m-2" data-bs-toggle="modal" data-bs-target="#editProfileModal">Want a Bio?</button>
                    <% } %>
                    <p class="text-center"><%= followers.length %>  Followers</p>
                    <% if (currentUser && currentUser.id !== id) { %>
                        <% if (currentUser && currentUser.followers.includes(id)) { %>
                            <button class="btn btn-dark" disabled>Following</button>
                        <% } else if (isPrivate) { %>
                            <button class="btn btn-outline-dark">Request to Follow</button>
                        <% } else { %>
                            <button class="btn btn-outline-dark rounded-pill">Follow</button>
                        <% } %>
                    <% } else if (currentUser && currentUser.id === id) { %>
                        <button class="btn btn-outline-dark m-2" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
                        <button class="btn btn-outline-dark m-2" data-bs-toggle="modal" data-bs-target="#deleteProfileModal">Delete Account</button>
                    <% } %> 
                </div>
            </div>
        </section>
        <% if (currentUser && currentUser.id === id) { %>
            <%- include('../partials/userNav') %>
        <% } %>
        <%- include('../partials/postBox') %>
    </div>
</section>
<% if (currentUser && currentUser.id === id) { %>
    <%- include('../partials/modals/editProfile') %>
    <%- include('../partials/modals/deleteProfile') %>
<% } %>
<script src="/js/profile.js" defer type="text/javascript"></script>